<main>
    <div class="intro">
      <h1>GameDB</h1>
      <h1>Your game database</h1>
      <p>Track the games you love</p>
      <button>Learn More</button>
    </div>
    <div class="achievements">
      <div class="work">
        <i class="fas fa-atom"></i>
        <p class="work-heading">Database</p>
        <p class="work-text">Search for information about games on a large database created by the own users.</p>
      </div>
      <div class="work">
        <i class="fas fa-skiing"></i>
        <p class="work-heading">Library</p>
        <p class="work-text">Log your game library and backlog into the app and track the games you are playing, played or want to play.</p>
      </div>
      <div class="work">
        <i class="fas fa-ethernet"></i>
        <p class="work-heading">Discover</p>
        <p class="work-text">Discover new games based on the games you already own and could love.</p>
      </div>
    </div>
</main>